* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    align-items: center;
    font-family: sans-serif;
    position: relative;


}

/*header*/

.titlepage {
    display: flex;
    width: 700px;
    height: 150px;
    padding: 14px;
    justify-content: center;

}

.bt {
    display: flex;
    gap: 4px;
    width: 20px;
    height: 20px;
}



.titolo {
    justify-content: center;
}

.undertext {
    font-size: 12px;
    color: grey;

}

/*card*/

.container {
    display: flex;
    justify-content: center;
    gap: 18px;
}



.card {
    font-size: 14px;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: rgb(247, 246, 248);
    border-radius: 20px;
    line-height: 30px;
    box-shadow: 0 2px 20px rgba(17, 17, 17, 0.8);
}

.card:active {
    background-color: blueviolet;

}

.chose-plan {
    background-color: blueviolet;
    color: rgb(196, 156, 248);
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    width: 170px;
}

.chose-plan:hover {
    background-color: #ffffff;
    transform: translateY(2px);
    box-shadow: 0 2px 20px rgba(17, 17, 17, 0.8);
}

.plan-name {
    font-size: x-large;
}

.under-plan {
    font-size: 12px;
    color: rgb(183, 162, 223);
}

.price {
    display: flex;
}

.number {
    font-size: x-large;
}

.mese {
    font-size: 12px;
    color: rgb(183, 162, 223);

}

.offerta {
    display: flex;
}

.sconto {
    background-color: grey;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
}



.card-2 {
    font-size: 14px;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 20px;
    line-height: 30px;
    box-shadow: 0 2px 20px rgba(17, 17, 17, 0.8);
}

.card-2:active {
    background-color: rgb(247, 246, 248);

}

.chose-plan2 {
    background-color: white;
    color: rgb(70, 47, 92);
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    width: 170px;
}

.chose-plan2:hover {
    background-color: blueviolet;
    transform: translateY(2px);
    box-shadow: 0 2px 20px rgba(17, 17, 17, 0.8);
}